body{
    background-color: rgb(104, 178, 243);
    font-family: Arial, sans-serif;
}
header{
    background-color: rgb(240, 240, 240);
    color: rgb(36, 32, 32);
    padding: 10px 0;
    text-align: center;
    border-radius: 30px;
}
nav a{
    color: rgb(36, 32, 32);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}
hr{
    margin: 20px 0;
    border: 0;
    border-top: 1px solid rgb(36, 32, 32);
}
main{
    padding: 20px;
    background-color: rgba(120, 188, 214, 0.788);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}
button{
    background-color: rgb(85, 120, 173);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
footer{
    background-color: rgb(240, 240, 240);
    color: rgb(36, 32, 32);
    padding: 10px;
    text-align: center;
    border-radius: 30px;
}